* {
    margin: 0;
    padding: 0;
  }
  
  body,
  select {
    font-family: "Montserrat", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  .top {
    background-image: url(img/bcg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .header {
    padding-top: 217px;
    padding-bottom: 493px;
  }
  
  .header__title {
    width: 788px;
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
  }
  
  .header__text {
    width: 481px;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    font-size: 18px;
    padding-bottom: 44px;
  }
  
  .header__button {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border-radius: 30px;
    background: #9c0332;
    width: 234.06px;
    height: 48.6px;
    border: none;
  }
  
  .header__button:hover {
    background: #eb443f;
  }
  
  .games {
    height: 556px;
    background-image: url(img/bcg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .games__wrapper {
    display: grid;
    column-gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .games__item--one {
    background-image: url(img/Game\ 1.jpg);
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
      url(img/Game\ 1.jpg), lightgray 50% / cover no-repeat;
  }
  
  .games__item--two {
    background-image: url(img/Game\ 2.jpg);
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
      url(img/Game\ 2.jpg), lightgray 50% / cover no-repeat;
  }
  
  .games__item--three {
    background-image: url(img/Game\ 3.jpg);
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
      url(img/Game\ 3.jpg), lightgray 50% / cover no-repeat;
  }
  
  .games__item {
    grid-column: span 4;
    height: 300px;
    width: 379px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    font-style: normal;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 16px;
  }
  
  .games__item:hover {
    border: 3px solid #44d2ff;
  }

@import 'mobile';
